body {
  font-family: sans-serif;
}

.flex{
  display: flex;
  justify-content: space-evenly;
  
}

.flex div {
  background-color: #999999;
  width:150px;
  text-align: center;
  border: 15px solid;
  border-color: white;
}

footer{
background-color: #CCCCCC;
}

