body {
  font-family: sans-serif;
}

.box{
  display: flex;
}

.one {
  flex: 1 1 auto;
  background-color: #999999;
  text-align: center;
  border: 10px solid;
  border-color: white;
}
.two {
  flex: 1 1 auto;
  background-color: #999999;
  text-align: center;
  border: 10px solid;
  border-color: white;
}
.three {
  flex: 1 1 auto;
  background-color: #999999;
  text-align: center;
  border: 10px solid;
  border-color: white;
}

footer{
background-color: #CCCCCC;
}

